*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0e0e0e;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:111;
}

.navbar a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

.navbar a:hover{
    color:red;
}


.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
               url("Domi.webp");
    background-size:cover;
    background-position:center;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hero h1{
    font-size:48px;
}

.hero p{
    margin:15px 0;
}

.buttons{
    margin-top:20px;
}

.btn{
    padding:12px 25px;
    background:red;
    color:white;
    text-decoration:none;
    margin:10px;
    display:inline-block;
}

.btn:hover{
    background:darkred;
}

.outline{
    background:transparent;
    border:2px solid red;
}


.features{
    padding:50px;
    text-align:center;
}

.features ul{
    list-style:none;
    margin-top:20px;
}

.features li{
    margin:10px 0;
}

.requirements{
    padding:50px;
}

.req-box{
    display:flex;
    gap:30px;
    margin-top:20px;
}

.req-box div{
    background:#1a1a1a;
    padding:20px;
    flex:1;
}


footer{
    background:#111;
    text-align:center;
    padding:15px;
}

@media(max-width:768px){
    .navbar{
        flex-direction:column;
    }

    .req-box{
        flex-direction:column;
    }

    .hero h1{
        font-size:32px;
    }
}
